@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.app {
  min-height: 600px;
  height: 100%;
  min-width: 1000px;
  width: 100%;
  display: flex;

  .left-window {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;

    nav {
      min-height: 60px;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);

      h1 {
        margin: 0;
        padding: 0 0 0 20px;
        font-family: 'Marck Script', cursive;
        font-size: 30px;
        color: crimson;
        white-space: nowrap;
      }

      .icon {
        font-size: 25px;
        padding: 0 20px 0 0;
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
      }
    }

    .skills-input-container {
      margin-top: 100px;
      height: max-content;
      width: 80%;
    }

    .more-inputs-container {
      margin-top: 100px;
      height: max-content;
      width: 80%;
    }
  }

  .right-window {
    height: 100%;
    width: 400px;
  }
}