.job-inputs {
  height: 200px;
  width: 480px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  color: tomato;
  background-color: rgba(0, 0, 0, 0.025);
}